@import "variables";
@import "mixins";

//////////////////////////////
// General 
//////////////////////////////
.theforce #page {
  
}


//////////////////////////////
// Typography
//////////////////////////////
h1 {
  font-weight: bold;
  text-transform: uppercase;
  color: red;
}
h2 {
  font-weight: 100;
  color: #555;
  text-transform: uppercase;
}
p {
  color: #111;
  font-size: 16px;
}

a {
  color: $blue;
}


//////////////////////////////
// Navigation
//////////////////////////////
#navigation {
  background-color:$blue;
  position: relative;
  z-index: 100;
  color:$white;   

  a {
    color: $white;
    display: block;
  }

  ul.menu {
    margin: 0;
    list-style: none;
    display: table;
    float: left;

    li {
      display:inline-block;
      text-align: center;
      vertical-align: middle;

      &.first {
        display: none;
      }

      &.expanded {

        /* a:after {
          color: $white;
          margin-left: 5px;
          top: 21px;
          @include fontAwesome();
          content:'\f107';
          font-size:1rem;
        } */

        li a {
          line-height: 1.4em;
          text-transform:capitalize;

          &:after {
            display: none;
          }
        }
      }

      // Dropdown
      ul.menu {
        position: absolute;
        display: block;
        z-index: 1;
        width: 240px;
        margin-left: -120px;
        max-height: 1px;
        opacity: 0;
        overflow: hidden;
        margin: 0 auto 1rem;
        background-color: $white;
        @include box-shadow(none);
        @include transition(all 0.15s ease-in-out);

        li {
          display: block;
          position: relative;
          text-align: left;
          margin:0rem;

          &:nth-child(5),
          &:nth-child(9) {  
            clear: left;
          }

          a,
          .nolink {
            font-weight: bold;
            display: block;
            width: 100%;
            position: relative;
            font-size: 1rem;
            padding:0.25rem 0.75rem;
            color: #000;
          }
        }

        ul.menu {
          position: relative;
          max-height: auto;
          opacity: 1;
          background-color: transparent;
          padding: 0;
          box-shadow: none;
          z-index: 10;

          li {
            display: block;
            width: 100%;
            margin: 0 0 .25rem;

            a {
              font-weight: normal;
              text-transform: none;
              font-size: 1rem;
              margin: 0;
            }
          }
        }
      }

      &:hover {
        ul.menu {
          max-height: 500px;
          opacity: 1;
          @include box-shadow(0 3px 6px rgba(0,0,0,0.1));
          overflow:visible;
          padding: 0.75rem 0rem;  
        } 
      }
    }
  }
  .menu-button {
    display: none;
  }
}