// import mixins and variables
@import "mixins";
@import "variables";


// Styles
body.theforce {
  padding-right: 5rem;
  @include bgGradient();
  @include transition(all .3s ease-in-out);

  #page {
    position: relative;
    z-index: 1;
    background-color: $gray-light;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    max-height: 100vh;
    overflow: scroll;
    @include transition(all .3s ease-in-out);
  }

  &.theforce-open {
    padding: 4rem 20rem 1rem 1rem;
    overflow: hidden;

    #theforcetop {
      opacity: 1;
    }

    #theforceside {
      width: 20rem;

      &:hover {
        width: 20rem;
        box-shadow: 0 0 0 rgba(0,0,0,0);
      }
    }
  
    #page {
      z-index: 12;
      box-shadow: 0 0 10px rgba(0,0,0,0.75);
      overflow: scroll;
      max-height: 92vh;
    }

  } // &.theforce-open
} // body.theforce

#theforcetop {
  position: absolute;
  top: 0;
  left: 1rem;
  width: 100%;
  height: 4rem;
  z-index: 1;
  opacity: 0;
  text-align: left;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  @include transition(all .3s ease-in-out);
  overflow: hidden;
  padding-right: 21rem;
  display: table;

  .midichlorian {
    display: table-cell;
    border-right: 1px solid rgba(0,0,0,0.2);
  }

  .left,
  .right {
    display: table-cell;
    position: relative;
    float: none;
  }

} // #theforcetop

#theforceside {
  position: fixed;
  top: 0;
  right: 0;
  width: 5rem;
  height: 100vh;
  z-index: 10;
  box-shadow: 0 0 0 rgba(0,0,0,0);
  @include bgGradient();
  @include transition(all .3s ease-in-out);
  overflow: hidden;

  &:hover {
    width: 10rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

} 
@media screen and (max-width: 700px) { 
  body.theforce {
    padding: 0;
  }
  #theforceside {
    border-radius: 5px;
    bottom: 1rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    right: 1rem;
    top: auto;
    height: auto;
  }
}
// #theforceside

