// import mixins and variables
@import "mixins";
@import "variables";

#theforce {
  .user {
    margin: 0 0 1rem;
    padding: 0;
    list-style: none;

    img {
      border-radius: 10rem;
      overflow: hidden;
      max-width: 5rem;
      display: block;
      margin: 0 auto;
      padding: 0.5rem;
    }

    span {
      opacity: 0;
      display: block;
      white-space: nowrap;
      text-align: center;
      @include transition(all .3s ease-in-out);
    }
  }

  &:hover,
  .theforce-open & {
    .user {
      span {
        opacity: 1;
      }
    }
  } // :hover, .theforce-open &

} // #theforce