// import mixins and variables
@import "mixins";
@import "variables";

#theforcetop {
  .user {
    margin: 0;
    padding: 0;
    list-style: none;

    img {
      border: 7px solid rgba(0, 0, 0, 0.3);
      border-radius: 10rem;
      display: table-cell;
      margin: -1rem 1rem 0 0;
      max-width: 6rem;
      overflow: hidden;
      padding: 0.33rem;
      float: left;
    }

    a { 
      display: table;
    }

    span {
      opacity: 0;
      display: table-cell;
      float: left;
      line-height: 4rem;
      white-space: nowrap;
      color: #ddd;
      margin: 0 1rem 0 0;
      @include transition(all .3s ease-in-out);
    }

    i {
      line-height: 4rem;
      padding: 0 1rem 0 0;
    }
  }

  &:hover,
  .theforce-open & {
    .user {
      span {
        opacity: 1;
      }
    }
  } // :hover, .theforce-open &

} // #theforce