// import mixins and variables
@import "mixins";
@import "variables";

.valet {
  display: block;
  position: relative;
  height: 0;
  line-height: rem-calc(100);
  padding: 0;
  text-align: center;

  #valet-search-form {
    position: relative;
    margin: 0 auto;
    padding: 0 1rem;

    .container-inline,
    .form-item {
      margin: 0;
    }

    .form-text {
      margin: 0;
    }

    .container-inline {
      position: relative;
      padding-right: 60px;
    }

    .form-item-search-block-form {
      width: 95%;
      margin-left: 5%;
    }

    input.form-text {
      background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
      border: medium none;
      border-radius: 5px;
      line-height: 1rem;
      margin: 0.5rem 0;
      padding: 1rem;
      overflow: hidden;
      padding: 1rem;
      color: #fafafa;
    }

    button.search {
      background: transparent;
      border: 0 none;
      font-size: 22px;
      padding: 0 1rem;
      min-width: 0;
      position: absolute;
      right: 1rem;
      top: 0;
      height: auto;
      line-height: 4rem;
      color: $blue;
    }
  }

  button {
    &:before,
    &:after {
      display: none;
    }

    &:hover {
      color: $blue;
    }
  }

  button.close {
    width: 10%;
    text-align: center;
    padding: 0;
    min-width: 0;
    border-radius: 0;
    border: 0;
    background: transparent;
    font-size: rem-calc(30);
    height: 40px;
    box-sizing: border-box;
    float: right;
    line-height: normal;
    font-size: 35px;
  }
}